.signup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.form {
  width: 40%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 15px;
  border-radius: 12px
}

.form label {
  display: block;
  font-weight: 500;
  padding-bottom: 3px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.form h2 {
  text-align: center;
  padding: 20px 0px;
}

.form h3 {
  text-align: center;
  padding-bottom: 4px;
  font-size: 1.4rem;
}

body {
  background: rgb(230, 230, 230)
}

.bg-white {
  background: #ffffff
}

.form__input {
  width: 100%;
  height: 32px;
  border: none;
  background: rgb(245, 245, 245);
  border-radius: 7px;
  padding: 0px 10px;

}

textarea.form__input {
  width: 100%;
  height: 70px;
  border: none;
  background: rgb(245, 245, 245);
  border-radius: 7px;
  padding: 0px 10px;

}


.form__input-cont {
  padding: 0px 5%;
  width: 100% !important;
}

.form button {
  background: blue;
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 17px;
  color: white;
  cursor: pointer;
}

.submit__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.form a {
  text-decoration: none;
  color: blue;
}

.form button:hover {
  background: rgb(13, 13, 98);
}

.form__forgot {
  display: flex;
  justify-content: flex-end;

}

.form__forgot a {
  border-bottom: none;
  color: blue;
  cursor: pointer
}
