<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated  %}
        <li class="nav-item">
            Hello {{user.username}}!
        </li>
        <li>
            <a class="btn btn-warning" href="/accounts/logout">Sign Out</a>
        </li>

    {% else %}
        <li>
            <a class="btn btn-success" href="/accounts/login">Sign In</a>
        </li>
    {% endif %}
    </ul>
</body>
</html>